<!DOCTYPE html>
<html>
<head>
	<title></title>
	    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/global/favicon.png" type="image/x-icon" />
    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700|Quattrocento+Sans|Istok+Web|Open+Sans+Condensed:300|Fjalla+One|Fira+Sans:400,300|Roboto:400,100,200,300,700|Exo+2:400,500,600,700,800,900,300,200|Source+Sans+Pro:400,300,600,700' rel='stylesheet' type='text/css'>

    <link href="{{ STATIC_URL }}font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

    <!-- Sweetalert CSS -->
    <link href="{{ STATIC_URL }}css/plugins/sweetalert/sweetalert2.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/custom/talentbox-sweetalert.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/2.1.1/sweetalert2.css"> -->

    <link rel="stylesheet" href="{{ STATIC_URL }}css/plugins/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/animate.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/custom/global.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/custom/login.css">

</head>
<body>




	<!-- jQuery -->
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <!-- fix for es6 promises in sweetalert2 -->
    <script src="{{ STATIC_URL }}js/plugins/es6-promise/es6-promise.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="{{ STATIC_URL }}js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jquery-easing/jquery.easing.min.js"></script>
    <!-- Sweetalert -->
    <script src="{{ STATIC_URL }}js/plugins/sweetalert/sweetalert2.js"></script>
	<script src="{{ STATIC_URL }}js/custom/404.js"></script>


</body>
</html>