<!DOCTYPE html>
<html lang="es">

<head>

    <!-- Google Tag Manager please remember to insert script here -->
    <!-- End Google Tag Manager -->

    <title>Title</title>

    <meta charset="UTF-8">

    <!-- Behavioral Meta Data -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Google Meta Data, SEO -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="title" content="">
    <meta name="robots" content="index, follow">
    <meta name="google-site-verification" content="">

    <!-- Open Graph Meta Data -->
    <meta property="og:description" content="">
    <meta property="og:site_name" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">

    <!-- Twitter Card Meta Data -->
    <meta name="twitter:card" content="">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    

    {% block meta %}{% endblock %}

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/global/favicon.png" type="image/x-icon" />

    {% block css %}{% endblock %}

</head>

<body>

    <!-- Google Tag Manager (noscript) -->
    <!-- End Google Tag Manager (noscript) -->

    <!-- navigation header -->

    {% block header %}{% endblock %}

    <!-- content -->

    {% block content %}{% endblock %}

    <!-- footer -->

    {% block footer %}{% endblock %}

    <!-- jQuery -->
    <script src="{{ STATIC_URL }}js/plugins/jquery/jquery-min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ STATIC_URL }}js/plugins/bootstrap/bootstrap-min.js"></script>
    <!-- custom -->
    <script src="{{ STATIC_URL }}js/custom/global.js"></script>

    {% block javascript %}{% endblock %}

</body>

</html>